apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: opamp-system

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - secret.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app.kubernetes.io/part-of: opamp-control-plane
